/* CSS */

html, body{
	width: 410px;
	display: grid;
	margin: 0 auto 0 auto;
	background-color: dimgrey;
	grid-template-columns: 310px 100px;
	grid-template-rows: 50px 180px 50px 50px;
}

footer{
	width: 410px;
	height: 50px;
	margin-top: 650px;
}

#game{
	grid-column: 1;
	width: 305px;
	height: 700px;
	border-right: 5px solid black;
	margin: 0 auto 0 auto;
	background-color: gold;
}

#kazu{
	margin:  0 auto 50px auto;
	text-align: center;
}

#knum{
	margin: 0 auto 30px auto;
}

#kps{
	margin: -40px auto 0 auto;
}

#tk{
	margin: 0px;
}

#kuta0{
	width: 305px;
	grid-column: 1;
	grid-row: 2;
	text-align: center;
}
#kuta{
	grid-row: 2;
	background-image: url(../images/kuta.png);
	width: 80px;
	height: 80px;
}

/* アップグレード---------------------------------------------------------*/
#apgrade{
	height: 700px;
	grid-column: 2;
	background-color: goldenrod;
}

#apgrade button{
	margin-left: 5px;
	margin-top: 5px;
	width: 90px;
	height: 40px;
}
#apgrade p{
	margin-left: 5px;
	margin: -2px 0 0 0;
}

#apgrade div{
	border-bottom: solid black;
}

/* PC用セット----------------------------------------------------------*/
@media screen and (min-width: 600px) {
html, body{
	width: 600px;
	display: grid;
	margin: 0 auto 0 auto;
	background-color: dimgrey;
	grid-template-columns: 400px 200px;
	grid-template-rows: 50px 180px 50px 50px;
}

#game{
	grid-column: 1;
	width: 395px;
	height: 700px;
	border-right: 5px solid black;
	margin: 0 auto 0 auto;
	background-color: gold;
}

#apgrade{
	height: 700px;
	grid-column: 2;
	background-color: goldenrod;
}

#apgrade button{
	margin-left: 5px;
	width: 120px;
	height: 40px;
}

#apgrade1{
	margin-left: 5px;
	width: 120px;
	height: 40px;
}

#apgrade p{
	margin-left: 10px;
	margin: -2px 0 0 5px;
}
}
